<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="https://www.facebook.com/" />
    <add key="browser" value="ff" />
    <add key="userlogin" value="webdriver42@gmail.com" />
    <add key="userpassword" value="test123dude" />
    <add key="waitLongRequestTimeout" value="10000" />
    <add key="waitFastRequestTimeout" value="5000" />   
  </appSettings>
</configuration>